html,body{
  scroll-behavior: smooth;
}
.desktop{
  display: none;
}
a{
  text-decoration: none;
}
button{
  outline: 0;
  border: 0;
  background-color: hsl(180, 66%, 49%);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
}
.dark{
  background-color: hsl(257, 27%, 26%);
}
button:hover{
  background-color: hsla(180, 66%, 49%,0.65);
}
.dark:hover{
  background-color: hsl(257, 27%, 26%);
}
.loader{
  display: flex;
  justify-content: center;
  position: absolute;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: hsl(257, 27%, 26%);
}
@media screen and (min-width: 728px) {
  .desktop{
    display: flex;
  }
  .mobile{
    display: none;
  }
}
@media screen and (min-width: 998px) {
  
}

